#!ipxe
###
### netboot.xyz-custom menu example
###

:custom
clear custom_choice
menu This is a Test Menu
item option_one ${space} Loading a kernel and initrd
item option_two ${space} Loading freedos
choose custom_choice || goto custom_exit
echo ${cls}
goto ${custom_choice}
goto custom_exit

:option_one
imgfree
kernel http://192.168.10.166:8000/vmlinuz ip=dhcp boot=casper url=http://192.168.10.166:8080/u/filesystem.squashfs
initrd http://192.168.10.166:8000/initrd
boot || goto custom_exit

:option_two
imgfree
kernel https://boot.netboot.xyz/memdisk
initrd http://192.168.10.166:8000/FD12LITE.img
boot || goto custom_exit

:custom_exit
chain utils.ipxe
exit
